* {
    margin: 0;
    padding: 0;
}

.first{
    background-color: black;
    display: flex;
    justify-content: center;
}

.header{
    font-size: 50px;
    padding-top: 55px;
    padding-bottom: 40px;
    color: white;
}

.second{
    background-color: black;
}

.description{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    color: white;
}

/*Player scoreboard */
.choices{
    display: flex;
    justify-content: center;
    gap: 17rem;
    padding: 30px;
}

.player .player-icon{
    color: white;
    height: 150px;
    width: 150px;
    font-size: 100px;
}

.computer .computer-icon{
    color: white; 
    height: 150px;
    width: 150px;
    font-size: 100px;
}

.player .player-score{
    color: white;
    padding-top: 13px;
    padding-bottom: 20px;
    font-size: 35px;
}

.computer .computer-score{
    color: white;
    padding-top: 13px;
    padding-bottom: 20px;
    font-size: 35px;
}

/* Choosing icons */
.third{
    padding: 20px;
    background-color: black;
}
.buttons{
    display: flex;
    justify-content: center;
    padding-bottom: 200px;
    gap: 6rem;
}

.button img{
    height: 100px;
    width: auto;
    cursor: pointer;
    transition: 100ms;
}

.button:hover{
    background-color: black;
    transform: scale(0.90);
}


/* Footer */
.fourth{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}


/* Game over overlay */
.modal{
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 10px;
    z-index: 10;
    background-color: rgb(147, 145, 171);
    width: 280px;
    height: 160px;
    max-width: 80%;
    transition: 200ms ease-in-out;
    justify-content: center;
    align-items: center;
    padding: 18px;
}

.modal-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.end-message{
    font-size: 32px;
    text-align: center;
}

end-button{
    
    justify-content: center;
}

.start-over{
    height: 100px;
    width: 220px;
    font-size: 30px;
    border-radius: 10px;
    background-color:rgb(109, 102, 102);
}

.start-over:hover{
    background-color: rgb(109, 102, 102, 0.6);
    transform: scale(0.95);
    transition: 200ms;
}

.overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: none;
}



.modal.active{
    transform: translate(-50%, -50%) scale(1);
}

.overlay.active{
    opacity: 1;
    pointer-events: all; 
}
