* {
    margin: 0;
    padding: 0;
}

.first{
    background-color: black;
    display: flex;
    justify-content: center;
}

.header{
    font-size: 50px;
    padding-top: 55px;
    padding-bottom: 40px;
    color: white;
}

.second{
    background-color: black;
}

.description{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    color: white;
}

/*Player scoreboard */
.choices{
    display: flex;
    justify-content: center;
    gap: 17rem;
    padding: 30px;
}

.player .player-icon{
    color: white;
    height: 150px;
    width: 150px;
    font-size: 100px;
}

.computer .computer-icon{
    color: white; 
    height: 150px;
    width: 150px;
    font-size: 100px;
}

.player .player-score{
    color: white;
    padding-top: 13px;
    padding-bottom: 20px;
    font-size: 35px;
}

.computer .computer-score{
    color: white;
    padding-top: 13px;
    padding-bottom: 20px;
    font-size: 35px;
}

/* Choosing icons */
.third{
    padding: 20px;
    background-color: black;
}
.buttons{
    display: flex;
    justify-content: center;
    padding-bottom: 200px;
    gap: 6rem;
}

.button img{
    height: 100px;
    width: auto;
    cursor: pointer;
    transition: 100ms;
}

.button:hover{
    background-color: black;
    transform: scale(0.90);
}


/* Footer */
.fourth{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

